{% extends "base.html" %}
{% load static %}

{% block title %}
درباره اورمانا | شرکت توسعه اورمان درخشان مانا
{% endblock title %}

{% block content %}
<div class="page-content bg-white">
			<!-- Page Heading Box ==== -->
			<div class="page-banner  page-banner-lg ovdt1 overlay-dotted no-pt parallax"
				style="background-image:url({% static 'assets/images/banner/banner2.jpg' %});">
				<div class="container">
					<div class="page-banner-entry">
					</div>
				</div>
			</div>
			<!-- Page Heading Box END ==== -->
			<!-- Main Slider -->
			<div class="content-block" id="content-area">
				<!-- Popular Courses -->
				<div class="section-area section-sp2 bg-white">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-12 wow fadeIn m-md-b40" data-wow-delay="0.3s">
								<div class="heading-bx">
									<h6 class="title-ext m-b0">خوش آمدید به اورمانا</h6>
									<h2 class="title-head m-b0">درباره اورمانا</h2>
									<div class="ttr-separator sepimg"></div>
									<p class="head-px2" style="text-align:justify"> 
                                        شرکت توسعه اورمان درخشان مانا در سال 1400شمسی ( 2021 میلادی) به عنوان یکی از پیشروان صنعت چوب با هدف ارتقا کیفیت محصولات چوبی نوین با بهره گیری از تکنولوژی های جدید ، ماشین آلات پیشرفته و روش های به روز، آغاز به کار نمود.<br>
این شرکت با استفاده از نیروی کار متخصص و شبکه گسترده در بازار ایران و جهان با بررسی نیاز ها و نواقص این صنعت در زمان کم توانست به دستاورد های بزرگی دست یابد.<br>
این شرکت مفتخر است تا محصول خود را که ترکیبی از ورق های SPL که نسل جدید از صفحه HPL است در کنار پلای وود به عنوان یک محصول چوبی مهندسی شده که از لایه ها و ورقه های نازک روکش های چوبی ساخته می شود، معرفی نماید.<br> این محصول توانسته تا ویژگی های خاص صفحه SPLاز قبیل :ضد خش، ضد آب، ضد نفوذ، ضد لک، ضد اسید و... را در کنار استحکام و قدرت پلای وود باهم  داشته باشد.<br>
                                    </p>
								</div>
								<!-- start progress bar item -->
								<div class="skillbar-box">
									<h6 class="title">تکنولوژی پیشرفته</h6>
									<div class="skillbar appear" data-percent="100%">
										<p class="skillbar-bar"></p>
										<span class="skill-bar-percent">100%</span>
									</div>
								</div>
								<div class="skillbar-box">
									<h6 class="title">ماشین آلات پیشرفته</h6>
									<div class="skillbar appear" data-percent="100%">
										<p class="skillbar-bar"></p>
										<span class="skill-bar-percent">100%</span>
									</div>
								</div>
								<div class="skillbar-box">
									<h6 class="title">مهندسان معتبر</h6>
									<div class="skillbar appear" data-percent="100%">
										<p class="skillbar-bar"></p>
										<span class="skill-bar-percent">100%</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12 wow fadeIn" data-wow-delay="0.6s">
								<div class="about-img-box2 row sp10">
									<div class="col-sm-6 col-6">
										<img src="{% static 'assets/images/portfolio/portfolio-1/image_9.jpg' %}" alt="" />
										<img src="{% static 'assets/images/portfolio/portfolio-1/image_1.jpg' %}" class="m-b10" alt="" />
									</div>
									<div class="col-sm-6 col-6 m-b10 m-t10">
										<img src="{% static 'assets/images/portfolio/portfolio-1/image_10.jpg' %}" alt="" />
										<img src="{% static 'assets/images/portfolio/portfolio-1/image_7.jpg' %}" class="m-b10" alt="" />
									</div>
									<div class="about-img-inner">
										<div>
											<h2 class="title"><span class="counter">20</span>+</h2>
											<span>سال در صنعت چوب</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 wow fadeIn m-md-b40" data-wow-delay="0.9s">
								<div class="heading-bx">
									<p class="head-px2" style="text-align:justify"> 
										شرکت توسعه اورمان درخشان مانا با قرارگیری در ارومیه و استان آذربایجان غربی به واسطه هم مرز بودن با سه کشور خارجی و نزدیک بودن با دو منطقه آزاد تجاری – صنعتی از امتیاز ویژه ای برخوردار است که به عنوان یک منطقه پر اهمیت لجستیکی برای تجارت داخلی و خارجی محسوب می شود.<br>
										این شرکت به واسطه تحقیق و مطالعات بازار توانسته محصولی ویژه به عنوان مواد اولیه با کاربرد های متنوع تولید کند که در عین سادگی بسیاری از نیاز های تولید کنندگان را پاسخگو باشد .
										این شرکت یک تولید کننده انبوه با ظرفیت تولید بالا است که آماده اخذ سفارش و نیزعقد قرارداد همکاری و مشارکت با تولید کنندگان، بازرگانان داخلی و خارجی در بالاترین سطح را دارد.<br>
										تجارت صادقانه، تعهد و مسیولیت  پذیری به عنوان خط مشی و جلب رضایت مشتریان به عنوان هدف برتر این شرکت باعث شده تا یکی از شرکت های فعال و خوش نام در منطقه باشد که توانسته علم و فناوری را در کنار تخصص و تجربه با رویکرد حفظ طبیعت و جلوگیری از آلودگی های زیست محیطی داشته باشد.
									</p>
								</div>
						</div>
					</div>
				</div>
				<!-- Popular Courses END -->
				<!-- Form -->
				<div class="section-area section-sp2 bg-primary parallax">
					<div class="container">
						<div class="heading-bx text-center text-white m-b0">
							<h6 class="title-ext m-b0">سوالی دارید</h6>
							<h2 class="title-head m-b0">نیاز به راهنمایی و اطلاعات بیشتر دارید<br/>همراه با شما هستیم</h2>
							<div class="ttr-separator sepimg2"></div>
							<div class="m-t20">
								<a href="get-in-touch.html" class="btn-secondry">تماس با ما</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Form END -->
				<div class="section-area bg-gray section-sp2">
					<div class="container">
						<div class="heading-bx text-center">
							<h2 class="title-head m-b0"> ارائه محصولات عالی <br /> برای صنایع </h2>
							<div class="ttr-separator sepimg"></div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.2s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-tractor"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> کشاورزی </h4>
										<p>پوشش گلخانه‌ها و انبارها<br>جعبه نگهداری محصولات کشاورزی</p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic1.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.4s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-flask"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> صنایع پتروشیمی </h4>
										<p>پوشش‌های محافظتی ضد خورندگی<br>ساخت تجهیزات نگهداری و بسته‌بندی </p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic2.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.6s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-trolley"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> حمل و نقل </h4>
										<p>کف کانتینر و کامیون<br>ساخت پالت و جعبه‌های صنعتی </p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic3.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.2s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-mask"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> دکوراسیون داخلی </h4>
										<p>کابینت سازی و مبلمان<br>دیوارپوش و سقف کاذب </p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic4.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.4s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-fuel"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> بهداشتی و درمانی </h4>
										<p>کف پوش و دیوارپوش در مراکز درمانی<br>ساخت کابین‌های آزمایشگاهی </p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic5.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.6s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-derrick"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> خدماتی </h4>
										<p>تجهیزات فروشگاهی<br>پارتیشن‌بندی در مراکز فروشگاهی </p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic6.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-12 text-center m-t20 m-sm-t0" data-wow-delay="0.6s">
								<a href="{% url 'main:products' %}" class="btn"> مشاهده همه محصولات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- contact area END -->
		</div>
		<!-- Content END-->
{% endblock content %}