{% extends "base-en.html" %}
{% load static %}

{% block title %}
 About Ormana | Orman Derakhshan Mana Development Company
{% endblock title %}

{% block content %}
<div class="page-content bg-white">
			<!-- Page Heading Box ==== -->
			<div class="page-banner  page-banner-lg ovdt1 overlay-dotted no-pt parallax"
				style="background-image:url({% static 'assets/images/banner/banner2-en.jpg' %});">
				<div class="container">
					<div class="page-banner-entry">
					</div>
				</div>
			</div>
			<!-- Page Heading Box END ==== -->
			<!-- Main Slider -->
			<div class="content-block" id="content-area">
				<!-- Popular Courses -->
				<div class="section-area section-sp2 bg-white">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-12 wow fadeIn m-md-b40" data-wow-delay="0.3s">
								<div class="heading-bx text-right">
									<h6 class="title-ext m-b0">Welcome</h6>
									<h2 class="title-head m-b0">About Ormana</h2>
									<div class="ttr-separator sepimg"></div>
									<p class="head-px2" style="text-align:justify"> 
                                        Orman Derakhshan Mana Development Company, established in 2004, is recognized as one of the pioneers in the wood industry. With a focus on enhancing the quality of modern wooden products, the company has adopted advanced technologies, state-of-the-art machinery, and innovative methods since its inception.
By leveraging the expertise of a highly skilled workforce and an extensive distribution network across Iran and international markets, the company has rapidly achieved significant milestones by addressing the needs and challenges of the industry.
We are proud to introduce our latest product, a combination of SPL boards—the new generation of HPL panels—together with plywood. This engineered wood product, composed of thin layers of high-quality veneer, successfully integrates the distinctive advantages of SPL boards, including scratch resistance, waterproofing, impermeability, stain resistance, acid resistance, and more, with the superior strength and durability of plywood.
                                    </p>
								</div>
								<!-- start progress bar item -->
								<div class="skillbar-box">
									<h6 class="title text-right">Advanced Technology</h6>
									<div class="skillbar appear" data-percent="100%">
										<p class="skillbar-bar"></p>
										<span class="skill-bar-percent">100%</span>
									</div>
								</div>
								<div class="skillbar-box">
									<h6 class="title text-right">State-of-the-Art Machinery</h6>
									<div class="skillbar appear" data-percent="100%">
										<p class="skillbar-bar"></p>
										<span class="skill-bar-percent">100%</span>
									</div>
								</div>
								<div class="skillbar-box">
									<h6 class="title text-right">Certified Engineers</h6>
									<div class="skillbar appear" data-percent="100%">
										<p class="skillbar-bar"></p>
										<span class="skill-bar-percent">100%</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12 wow fadeIn" data-wow-delay="0.6s">
								<div class="about-img-box2 row sp10">
									<div class="col-sm-6 col-6">
										<img src="{% static 'assets/images/portfolio/portfolio-1/image_9.jpg' %}" alt="" />
										<img src="{% static 'assets/images/portfolio/portfolio-1/image_1.jpg' %}" class="m-b10" alt="" />
									</div>
									<div class="col-sm-6 col-6 m-b10 m-t10">
										<img src="{% static 'assets/images/portfolio/portfolio-1/image_10.jpg' %}" alt="" />
										<img src="{% static 'assets/images/portfolio/portfolio-1/image_7.jpg' %}" class="m-b10" alt="" />
									</div>
									<div class="about-img-inner">
										<div>
											<h2 class="title"><span class="counter">20</span>+</h2>
											<span>Years in the Wood Industry</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 wow fadeIn m-md-b40" data-wow-delay="0.9s">
								<div class="heading-bx">
									<p class="head-px2" style="text-align:justify"> 
                                        Located in Urmia, West Azerbaijan Province, 
                                        the company enjoys a strategic advantage due to 
                                        its proximi- ty to three international borders and
                                         two free trade-industrial zones. This unique geographical
                                          position makes it a key logistics hub for both domestic and international trade.
									</p>
								</div>
						</div>
					</div>
				</div>
				<!-- Popular Courses END -->
				<!-- Form -->
				<div class="section-area section-sp2 bg-primary parallax">
					<div class="container">
						<div class="heading-bx text-center text-white m-b0">
							<h6 class="title-ext m-b0">Got questions</h6>
							<h2 class="title-head m-b0">Need guidance or more information?<br/>We're with you every step of the way</h2>
							<div class="ttr-separator sepimg2"></div>
							<div class="m-t20">
								<a href="#" class="btn-secondry contact-sidebtn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Form END -->
				<div class="section-area bg-gray section-sp2">
					<div class="container">
						<div class="heading-bx text-center">
							<h2 class="title-head m-b0"> Supplying High-Quality Products to <br />Industrial Sectors </h2>
							<div class="ttr-separator sepimg"></div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.2s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-tractor"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> Military</h4>
										<p>Interior Solutions for Bullet-Resistant and Acoustic-Insulated Facilities </p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic1.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.4s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-flask"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> Petrochemical</h4>
										<p>Anti-Corrosive Protective Coatings <br> Storage and Packaging Equipment Manufacturing</p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic2.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.6s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-trolley"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> Logistics</h4>
										<p>Flooring for Containers, Trucks, Ship Cabins, and Recreational & Military Boats</p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic3.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.2s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-mask"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> Interior Design</h4>
										<p>Interior Furnishing Solutions: Cabinets, Furniture, Wall Coverings & Drop Ceilings</p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic4.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.4s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-fuel"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> Health </h4>
										<p>Flooring and Wall Cladding in Healthcare Facilities, Laboratory Cabin Construction</p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic5.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.6s">
								<div class="feature-container feature-bx1">
									<div class="feature-lg text-white m-b20">
										<a href="javascript:;" class="icon-cell"><i class="flaticon-derrick"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="ttr-tilte"> Public Services </h4>
										<p>Optimizing Retail Spaces with Advanced Equipment and Smart Partitioning Solutions</p>
									</div>
									<div class="bg-img" style="background-image:url(assets/images/gallery/pic6.jpg)"></div>
								</div>
							</div>
							<div class="col-lg-12 text-center m-t20 m-sm-t0" data-wow-delay="0.6s">
								<a href="{% url 'main:products-use-en' %}" class="btn"> All Products</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- contact area END -->
		</div>
		<!-- Content END-->
{% endblock content %}