{% extends "base-en.html" %}
{% load static %}

{% block title %}
Product Applications | Orman Derakhshan Mana Development Company
{% endblock title %}

{% block content %}
<!-- Content -->
		<div class="page-content bg-white">
			<!-- Page Heading Box ==== -->
			<div class="page-banner ovbl-middle parallax" style="background-image:url({% static 'assets/images/banner/banner5.jpg' %});">
				<div class="container">
					<div class="page-banner-entry">
						<h1 class="text-white">Product Applications</h1>
						<div class="breadcrumb-row">
						</div>
					</div>
				</div>
			</div>
			
			<div class="content-block" id="content-area">
				<!-- Popular Courses -->
				<div class="section-area section-sp2 bg-white">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.2s">
								<!-- blog start -->
								<div class="blog-lg blog-single">
									<div class="info-bx text-right">
										<div class="ttr-post-title">
											<h4 class="post-title">Truck Trailer Floor </h4>
										</div>
										<div class="ttr-post-text" style="text-align:justify">
											<p>
												The main application of SPL plywood panels is for flooring the interior surface of trailers. Their high strength, anti-slip surface during loading, and excellent point-load resistance have made them a highly popular choice for trailer flooring.
The rapid deterioration of conventional trailer floors and their frequent need for replacement impose significant financial and time burdens on trailer owners. Our new product addresses this concern by offering a durable, long-lasting solution that meets the demands of professional truck operators.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.5s">
								<img class="" src="{% static 'assets/images/trailer-floor2.jpg' %}">
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.2s">
								<!-- blog start -->
								<div class="blog-lg blog-single">
									<div class="info-bx text-right">
										<div class="ttr-post-title">
											<h4 class="post-title">Next-Generation Flooring Roofing, and Wall Panels for Modern Structur  </h4>
										</div>
										<div class="ttr-post-text" style="text-align:justify">
											<p>
												Our new product is an intelligent combination of plywood with an SPL layer and decorative veneer, a material that brings together strength, beauty, and durability in a single, unique product.

This material has been specifically developed for use in modular buildings, prefabricated homes, and container structures, addressing the growing market demand for lightweight, strong, and aesthetically appealing construction materials.

											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.5s">
								<img class="" src="{% static 'assets/images/kaneks.jpg' %}">
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.2s">
								<!-- blog start -->
								<div class="blog-lg blog-single">
									<div class="info-bx text-right">
										<div class="ttr-post-title">
											<h4 class="post-title"> Concrete Shuttering</h4>
										</div>
										<div class="ttr-post-text" style="text-align:justify">
											<p>
												SPL plywood formworks are a specialized type of concrete shuttering panels, engineered with high-density compression and coated with smooth, durable surfaces on both sides. These panels are primarily used in construction projects for ceiling formwork and concrete containment during the curing process.
The term “high-density” refers to the manufacturing process in which the plywood consists of at least nine layers of central wooden veneers, compressed under high pressure and temperature using advanced machinery. This process results in a unified, solid structure with exceptional strength and durability, making the final panels ideal for heavy-duty applications and challenging construction environments.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.5s">
								<img class="" src="{% static 'assets/images/beton.jpg' %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Content END-->
{% endblock content %}