{% extends "base.html" %}
{% load static %}

{% block title %}
کاربرد محصولات اورمانا | شرکت توسعه اورمان درخشان مانا
{% endblock title %}

{% block content %}
<!-- Content -->
		<div class="page-content bg-white">
			<!-- Page Heading Box ==== -->
			<div class="page-banner ovbl-middle parallax" style="background-image:url({% static 'assets/images/banner/banner5.jpg' %});">
				<div class="container">
					<div class="page-banner-entry">
						<h1 class="text-white">کاربرد محصولات</h1>
						<div class="breadcrumb-row">
						</div>
					</div>
				</div>
			</div>
			
			<div class="content-block" id="content-area">
				<!-- Popular Courses -->
				<div class="section-area section-sp2 bg-white">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.2s">
								<!-- blog start -->
								<div class="blog-lg blog-single">
									<div class="info-bx">
										<div class="ttr-post-title">
											<h4 class="post-title"> کف تریلی </h4>
										</div>
										<div class="ttr-post-text" style="text-align:justify">
											<p>
												اﺻﻠﯽ ﺗﺮﯾﻦ ﮐﺎرﺑﺮد ﺻﻔﺤﺎت ﭘﻠﯽ وود اس ﭘﯽ ال ، ﺑﺮای ﻓﺮش ﮐﺮدن ﺳﻄﺢ داﺧﻠﯽ ﺗﺮﯾﻠﺮ ﻫﺎﺳﺖ . ﻣﻘﺎوﻣﺖ ﺑﺎﻻی اﯾﻦ ﻣﺤﺼﻮل ، ﺳﻄﺢ ﺿﺪ ﻟﻐﺰش آن ﻫﻨﮕﺎم ﺑﺎرﮔﯿﺮی و ﺗﺤﻤﻞ ﻓﺸﺎر ﻧﻘﻄﻪ ای ﺑﺎﻻ ﺳﺒﺐ ﺷﺪه اﯾﻦ ﺻﻔﺤﺎت ﺑﻪ ﻋﻨﻮان ﮐﻔﯽ ﺗﺮﯾﻠﺮ ﻣﺤﺒﻮﺑﯿﺖ ﺑﺎﻻﯾﯽ داﺷﺘﻪ ﺑﺎﺷﻨﺪ. ﺗﺨﺮﯾﺐ ﺳﺮﯾﻊ ﮐﻔﯽ ﻫﺎی ﻣﻮﺟﻮد در ﺑﺎزار و ﻧﯿﺎزﺷﺎن ﺑﻪ ﺗﻌﻮﯾﺾ ﻣﻨﻈﻢ ﻫﺰﯾﻨﻪ ﻣﺎﻟﯽ و زﻣﺎﻧﯽ زﯾﺎدی را ﺑﻪ ﻋﻬﺪه ی ﺗﺮﯾﻠﯽ دار ﻣﯿﮕﺬارد ﮐﻪ ﻣﺤﺼﻮل ﺟﺪﯾﺪ ﻣﺎ اﯾﻦ دﻏﺪﻏﻪ ی ﮐﺎﻣﯿﻮن داران را ﺑﺮ ﻃﺮف ﺧﻮاﻫﺪ ﮐﺮد.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.5s">
								<img class="" src="{% static 'assets/images/trailer-floor2.jpg' %}">
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.2s">
								<!-- blog start -->
								<div class="blog-lg blog-single">
									<div class="info-bx">
										<div class="ttr-post-title">
											<h4 class="post-title"> کانکس های پیش ساخته  </h4>
										</div>
										<div class="ttr-post-text" style="text-align:justify">
											<p>
												ﺷﺮﮐﺖ ﺗﻮﺳﻌﻪ اورﻣﺎن درﺧﺸﺎن ﻣﺎﻧﺎ ﺑﺎ ﺑﻬﺮهﮔﯿﺮی از ﻓﻨﺎوری روز و ﻣﺘﺮﯾﺎلﻫﺎی ﻧﻮآوراﻧﻪ، اﻗﺪام ﺑﻪ ﻃﺮاﺣﯽ و ﺗﻮﻟﯿﺪ ﮐﺎﻧﮑﺲ ﻫﺎی ﭘﯿﺶﺳﺎﺧﺘﻪ ﺑﺎ اﺳﺘﻔﺎده از ﭘﺎﻧﻞﻫﺎی ﻣﻬﻨﺪﺳﯽﺷﺪه ﭘﻠﯽوود ﺑﺎ روﮐﺶ SPL ﻧﻤﻮده اﺳﺖ. اﯾﻦ ترکیب ﭘﯿﺸﺮﻓﺘﻪ، ﻧﺴﻞ ﺟﺪﯾﺪی از ﮐﺎﻧﮑﺲﻫﺎی ﻣﻘﺎوم و ﮐﺎرﺑﺮدی را در اﺧﺘﯿﺎر ﭘﺮوژهﻫﺎ، ﺳﺎزﻣﺎنﻫﺎ و ﮐﺎرﺑﺮان ﺣﺮﻓﻪای ﻗﺮار ﻣﯽدﻫﺪ.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.5s">
								<img class="" src="{% static 'assets/images/kaneks.jpg' %}">
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.2s">
								<!-- blog start -->
								<div class="blog-lg blog-single">
									<div class="info-bx">
										<div class="ttr-post-title">
											<h4 class="post-title"> 	قالب بندی بتن  </h4>
										</div>
										<div class="ttr-post-text" style="text-align:justify">
											<p>
												قالب بندی های ﭘﻠﯽوود SPL ﻧﻮﻋﯽ از قالب های بتن ( شاتینگ ) ﻫﺴﺘﻨﺪ ﮐﻪ ﺑﻪﺻﻮرت وﯾﮋه ﭼﮕﺎلﺳﺎزی ﺷﺪه اﻧﺪ و دارای روﮐﺶ ﺻﺎف و ﻣﻘﺎوم در ﻫﺮ دو ﻃﺮف ﺳﻄﺢ ﺧﻮد ﻣﯽﺑﺎﺷﻨﺪ. اﯾﻦ ﻧﻮع ﭘﺎﻧﻞﻫﺎ ﻋﻤﺪﺗﺎً در ﭘﺮوژهﻫﺎی ﺳﺎﺧﺘﻤﺎﻧﯽ ﺑﺮای قالب بندی ﺳﻘﻒﻫﺎ و ﻧﮕﻬﺪاری ﺑﺘﻦ در ﺣﯿﻦ ﻓﺮآﯾﻨﺪ ﮔﯿﺮش ﻣﻮرد اﺳﺘﻔﺎده ﻗﺮار ﻣﯽﮔﯿﺮﻧﺪ.
ﻣﻨﻈﻮر از ﭼﮕﺎلﺳﺎزی اﯾﻦ اﺳﺖ ﮐﻪ اﯾﻦ ﻧﻮع ﭘﻠﯽوود ﺷﺎﻣﻞ ﺣﺪاﻗﻞ ﻧﻪ ﻻﯾﻪ ﻣﺨﺘﻠﻒ از روﮐﺶﻫﺎی ﻣﺮﮐﺰی ﭼﻮﺑﯽ اﺳﺖ ﮐﻪ ﺑﺎ اﺳﺘﻔﺎده از دﺳﺘﮕﺎهﻫﺎی ﭘﺮﻓﺸﺎر و در دﻣﺎی ﺑﺴﯿﺎر ﺑﺎﻻ ﺑﻪ ﺻﻮرت ﻓﺸﺮده و ﯾﮑﭙﺎرﭼﻪ درﻣﯽآﯾﻨﺪ. اﯾﻦ ﻓﺮآﯾﻨﺪ ﺑﺎﻋﺚ ﻣﯽﺷﻮد ﮐﻪ ﭘﺎﻧﻞ ﻧﻬﺎﯾﯽ دارای اﺳﺘﺤﮑﺎم و دوام ﺑﺴﯿﺎر ﺑﺎﻻ ﺑﻮده و ﺑﺮای اﺳﺘﻔﺎدهﻫﺎی ﺳﻨﮕﯿﻦ و ﻣﺤﯿﻂﻫﺎی ﭘﺮﭼﺎﻟﺶ ﺳﺎﺧﺖوﺳﺎزمناسب ﺑﺎﺷﺪ.

											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6 col-xl-6 m-md-b50 wow fadeInUp" data-wow-delay="0.5s">
								<img class="" src="{% static 'assets/images/beton.jpg' %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Content END-->
{% endblock content %}