{% extends "base.html" %}
{% load static %}

{% block title %}
محصولات اورمانا | شرکت توسعه اورمان درخشان مانا
{% endblock title %}

{% block content %}
<!-- Content -->
		<div class="page-content bg-white">
			<!-- Page Heading Box ==== -->
			<div class="page-banner ovbl-middle parallax" style="background-image:url({% static 'assets/images/banner/banner4.jpg' %});">
				<div class="container">
					<div class="page-banner-entry">
						<h1 class="text-white">محصولات</h1>
						<div class="breadcrumb-row">
						</div>
					</div>
				</div>
			</div>
			
			<div class="content-block" id="content-area">
				<!-- Popular Courses -->
				<div class="section-area section-sp2 bg-white">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-lg-12 col-xl-12 m-md-b50 wow fadeInUp" data-wow-delay="0.2s">
								<!-- blog start -->
								<div class="blog-lg blog-single">
									<div class="info-bx">
										<div class="ttr-post-title">
											<h4 class="post-title"> اطلاعات محصول </h4>
										</div>
										<div class="ttr-post-text" style="text-align:justify">
											<p>
												همواره باهم بودن باعث رشد و ترقی و موفقیت انسانها بوده ما با این رویکرد محصولاتی را در کنار یکدیگر قرارداده ایم تا ویژگی های جدید و شگفت آوری را تولید کنیم و بتوانیم یک محصول منحصر به فرد تولید کنیم .
											</p>
											<p> 
												این محصول  ساختاری خاص و شگفت انگیز  دارد که کاربرد آن را در صنایع مختلف میسر می سازد.برای استفاده تخصصی تر و کارایی بهتر تیم بررسی های تخصصی شرکت توسعه اورمان درخشان مانا با آزمایش های متعدد و نیازسنجی واحدهای صنعتی ضخامت های مختلفی از ورق هایSPL  و پلای وود را در کنار یکدیگر قرارداده تا با حفظ و ارتقاء ویژگی های خاص این محصولات بهترین نتیجه را در محصول نهایی نشان دهد.
											</p>
											<div class="table-responsive fadeIn my-5" data-wow-delay="0.8s">
												<table class="table table-bordered align-items-center text-center">
													<tdead>
														<tr class="table-warning">
															<td scope="col" >محصول</td>
															<td scope="col" >ضخامت پلای‌وود (mm)</td>
															<td scope="col">SPLضخامت (mm)</td>
															<td scope="col">ابعاد (mm)</td>
															<td scope="col" >وزن پلای‌وود</td>
															<td scope="col" >SPL وزن</td>
															<td scope="col" >وزن پلای‌وود و SPL</td>
															<td scope="col">تعداد در پالت</td>
														</tr>
													</tdead>
													<tbody class="list">
														<tr class="table-divider"></tr>
														<tr class="table-success">
														<td scope="row">
															<div class="media align-items-center">
																<div class="media-body">
																	<span class="title">پلای وود با روکش SPL پرس شده</span>
																</div>
															</div>
														</td>
														<td class="price">
															24 
														</td>
														<td class="price">
															<span class="status">4</span>
														</td>
														<td>
                            				                <span class="status">1220*2240</span>
														</td>
														<td>
															<span class="status">45</span>
														</td>
														<td>
															<span class="status">16</span>
														</td>
														<td>
															<span class="status">61</span>
														</td>
														<td>
															<span class="status">11</span>
														</td>
														</tr>
														<tr class="table-divider"></tr>
														<tr class="table-success">
														<td scope="row">
															<div class="media align-items-center">
																<div class="media-body">
																	<span class="title">پلای وود با روکش SPL پرس شده</span>
																</div>
															</div>
														</td>
														<td class="price">
															20 
														</td>
														<td class="price">
															<span class="status">8</span>
														</td>
														<td>
                            				                <span class="status">1220*2240</span>
														</td>
														<td>
															<span class="status">38</span>
														</td>
														<td>
															<span class="status">32</span>
														</td>
														<td>
															<span class="status">70</span>
														</td>
														<td>
															<span class="status">11</span>
														</td>
														</tr>
														<tr class="table-divider"></tr>
														<tr class="table-success">
															<td scope="row">
																<div class="media align-items-center">
																	<div class="media-body">
																		<span class="title">پلای وود با روکش SPL پرس شده</span>
																	</div>
																</div>
															</td>
															<td class="price">
																18 
															</td>
															<td class="price">
																<span class="status">10</span>
															</td>
															<td>
                        					                    <span class="status">1220*2240</span>
															</td>
															<td>
																<span class="status">34</span>
															</td>
															<td>
																<span class="status">40</span>
															</td>
															<td>
																<span class="status">74</span>
															</td>
															<td>
																<span class="status">11</span>
															</td>
														</tr>
														<tr class="table-divider"></tr>
													</tbody>
												</table>
											<div class="text-center">
												<a href="{% static 'assets/images/product/CATALOUGE.pdf' %}" target="_blank" class="btn" download>دریافت کاتالوگ محصولات</a>
											</div>
											</div>
											<p>
												در کنار هم بودن ورق های SPL  و پلای وود باعث شده تا ورق های فوق مقاومی ایجاد شوند که علاوه بر ویژگی های آنها ، خصوصیات جدیدی نیز داشته باشند و این هم افزایی را نشان می دهد ، افتخار ما این است که با سعی و تلاش و بهر گیری از تجربیات توانسته ایم این ویژگی ها و هم افزایی خصوصیات را متناسب با کاربری و کاربرد محصول در بهترین سطح نگه داشته و با کیفیت ترین کارایی را دشاته باشد.<br>
برخی از ویژگی های این محصول عبارتند از :

											</p>
											<p>
												استحکام و چگالی بالا، دوام و ماندگاری طولانی یکی از شاخص های اساسی برای انتخاب محصولات چوبی می باشد که داشتن تمام این ویژگی ها و نیز طبیعی و دوستدار طبیعت بودن ، این محصول را بسیار شگفت انگیز  و محبوب نموده است.
											</p>
											<p>
												این محصول می تواند یک انتخاب هوشمندانه برای صنایع و تولیدی ها باشد، از آنجاییکه  انتخاب یک ماده اولیه با کیفیت و مناسب می تواند نقش مهمی در کاهش بهای تمام شده و نیز افزایش کیفیت محصولات نهایی در یک تولیدی باشد ما با معرفی این محصول با چنین خصوصیات و ویژگی های خاص و نیز ارایه در دسته‌بندی ، در کنار شما خواهیم بود.
											</p>
											<p>
												شرکت توسعه اورمان درخشان مانا با بررسی های تخصصی و تکیه بر داشن روز دنیا این محصول را با هدف بر طرف نمودن نیاز بسیاری از صنایع به بازلر عرضه می کند و همواره با کیفیت بالا و قیمت مناسب سعی در کسب بیشترین رضایت از مشتریان عزیز را داشته است.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-12 col-xl-12 m-md-b50 wow fadeInUp" data-wow-delay="0.2s">
								<h4 class="post-title mt-5"> وﯾﮋﮔﯽﻫﺎی ﮐﺎرﺑﺮدیﻣﺤﺼﻮل</h4>
								<img src="{% static 'assets/images/c5-1.png' %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Content END-->
{% endblock content %}